html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

table {
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px 15px;
  border-collapse: collapse;
  text-align: left;
  height: 1px;
}

tbody tr:nth-child(odd) {
  background-color: #dddddd;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.button {
  padding: 0 16px;
  border-radius: 4px;
  min-width: 64px;
  height: 36px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 0.875rem;
  line-height: 2.25rem;
  font-weight: 500;
  letter-spacing: 0.0892857143em;
  cursor: pointer;
}

.primary-button {
  background-color: #6200ee;
  color: #fff;
  border: none;
}

.secondary-button {
  background-color: white;
  color: #6200ee;
  border: 1px solid #6200ee;
}

.clear-button {
  background-color: transparent;
  color: #6200ee;
  border: 1px solid #6200ee;
}

.disabled-button {
  cursor: not-allowed;
  background: gainsboro;
  color: #fff;
  border: 1px solid lightgrey;
}
